body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 800px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
  
}

.title {
  background: #e3f4ff;
  padding: 8px;
  
}

.content {
  background: #e3f4ff;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 20px;
  
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  font-size: 28px;
  padding: 16px;
  border: 20px;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 30px;
  display: block;
  padding: 8px 40px;
  margin: 0px auto;
  
}